/*font BEGIN*/

body{
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

/*font END*/

#Yalla{
    color: #F0364A;
}

.login_background {
    background-size: 100% 100%;
    padding-top: 5%;
}


.login_form{
    padding: 15% 10% 0% 0%;
}

/*email and password inputs*/
.input_field{
    padding-bottom: 5%;
}

.sign_in_button,
.sign_up_button{
    background-color: #7754F6;
    border-radius: 25px 0px 25px 25px;
    border-style: none;
    transition:  background-color 0.8s;
}

.sign_in_button:hover,
.sign_up_button:hover {
    background-color: #FC859B;
    border-style: none;
}

#sign_up,
#sign_in{
    padding-top: 5%;
}

.yalla_notlob_word{
    transition: letter-spacing 0.7s;
}

.yalla_notlob_word:hover {
    letter-spacing: 2px;
    cursor: default;
}

.yalla_notlob_word .hash_n{
    transition: color 0.5s ease-out 0.5s;
}

.yalla_notlob_word:hover .hash_n{
    color: #FE8787;
}

.social_media_auth{
    padding-top: 5%;
    font-size: 65px;
    padding-left: 25%;
}


#fb_logo{
    color: #3F5FBA;
    transition: filter 0.3s ease-in-out;
}
#fb_logo:hover{
    filter: drop-shadow(5px 1px 1px #BBBCC8);
}

#google_logo{
    color: #FF7373;
    transition: filter 0.3s ease-in-out;
}

#google_logo:hover{
    filter: drop-shadow(5px 1px 1px #BBBCC8);
}

/*Groups page*/
#group_header{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.search_bar{
    padding: 0% 25% 5% 25%;
}

.search_input{
    border-radius: 20px;
    padding-left: 2.5%;
    box-shadow:none !important;
}

.search_input:focus{
    border-color: #4335A7;
}

.add_group_button{
    background-color: #8082E5;
    border-radius: 20px;
    border-style: none;
    transition: background-color 0.9s ease-out;
}

.add_group_button:hover{
    background-color: #4335A7;
}

.add_group_icon{
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 7.5px;
}


.groups_list_left{
    margin-left: 4%;
}

.groups_list_left_box{
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

}


.expanded_group_list_right{
    margin-right: 4%;
    
}

.groups_list_right_box{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    overflow-y: scroll;
    overflow-x: hidden;

}

#groups_list_left_icon{
    text-align: center;
    padding-bottom: 1.5%;
}

#inside_left_text{
    padding-top: 4px;
}

.inside_group_list{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.inside_left_button_group{
    padding-bottom: 15px;
    padding-left: 20px;
}

.user_button{
    background-color: #7D9AFF;
    border-style: none;
}

.close_button{
    background-color: #FC6987;
    border-style: none;
}

.fa-user-plus{
    color: #FFFFFF;
}

.add_friend_to_group_search_bar{
    padding-top: 15px;
}

.add_group_button_right_box{
    background-color: #7D9AFF;
    border-radius: 20px;
    border-style: none;
    transition: background-color 0.9s ease-out;
}

.add_group_button_right_box:hover{
    background-color: #4335A7;
}


/*
    Friend's page
*/

#friends_list_h3{
    text-align: center;
    padding-bottom: 30px;
}

.friends_list_container{
    text-align: center;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    overflow-y: scroll;
    overflow-x: hidden;
}