/*font BEGIN*/

h1{
    font-family: 'Montserrat', sans-serif;
}

/*font END*/

#Yalla{
    color: #F0364A;
}

.login_background {
    background-size: 100% 100%;
    padding-top: 5%;
}


.login_form{
    padding: 15% 10% 0% 0%;
}

/*email and password inputs*/
.input_field{
    padding-bottom: 5%;
}

.sign_in_button,
.sign_up_button{
    background-color: #7754F6;
    border-radius: 25px 0px 25px 25px;
    border-style: none;
    transition:  background-color 0.8s;
}

.sign_in_button:hover,
.sign_up_button:hover {
    background-color: #FC859B;
    border-style: none;
}

#sign_up,
#sign_in{
    padding-top: 5%;
}

.yalla_notlob_word{
    transition: letter-spacing 0.7s;
}

.yalla_notlob_word:hover {
    letter-spacing: 2px;
    cursor: default;
}

.yalla_notlob_word .hash_n{
    transition: color 0.5s ease-out 0.5s;
}

.yalla_notlob_word:hover .hash_n{
    color: #FE8787;
}

.social_media_auth{
    padding-top: 5%;
    font-size: 65px;
    padding-left: 25%;
}


#fb_logo{
    color: #3F5FBA;
    transition: filter 0.3s ease-in-out;
}
#fb_logo:hover{
    filter: drop-shadow(5px 1px 1px #BBBCC8);
}

#google_logo{
    color: #FF7373;
    transition: filter 0.3s ease-in-out;
}

#google_logo:hover{
    filter: drop-shadow(5px 1px 1px #BBBCC8);
}

/*Groups page*/
#group_header{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    text-align: center;
}

.search_bar{
    padding: 0% 25% 0% 25%;
}

.search_input{
    border-radius: 20px;
    padding-left: 2.5%;
    box-shadow:none !important;
}

.search_input:focus{
    border-color: #4335A7;
}

.add_group_button{
    background-color: #8082E5;
    border-radius: 20px;
    border-style: none;
    transition: background-color 0.9s ease-out;
}

.add_group_button:hover{
    background-color: #4335A7;
}

.add_group_icon{
    color: white;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 7.5px;
}