<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="/stylesheets/users.css">
</head>
<body>

    <h1 id="group_header">
        <i class="fas fa-user-tag"></i> Friends
    </h1>

    <!--search bar-->
    <div class="input-group search_bar">
        <input type="text" class="form-control search_input" placeholder="Your friend's email address" aria-label="Large">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary add_group_button" type="button">
            <i class="fas fa-plus-circle add_group_icon"></i>
          </button>
        </div>
    </div>

    <!--Friends list-->
    <div>
        <h3 id="friends_list_h3">
            <i class="fas fa-list-ul"></i> Friend's List
        </h3>
    </div>

    <div class="row friends_list_container">

            <div class="col-2">
                <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
            </div>

            <div class="col-2">
                Ahmed Essam
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-user-times"></i>
                </button>
            </div>

            <div class="col-2">
                <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
            </div>

            <div class="col-2">
                Ahmed Essam
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-user-times"></i>
                </button>
            </div>

            <div class="col-2">
                <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
            </div>

            <div class="col-2">
                Ahmed Essam
                <button type="button" class="btn btn-primary btn-sm">
                  <i class="fas fa-user-times"></i>
                </button>
            </div>





    </div>


    
</body>
</html>