<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">


    <title>Groups</title>
</head>
<body>
    <h1 id="group_header">
        <i class="fas fa-users"></i> Groups
    </h1>


    <!--search bar-->
    <div class="input-group search_bar">
        <input type="text" class="form-control search_input" placeholder="Add a new group" aria-label="Large">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary add_group_button" type="button">
            <i class="fas fa-plus-circle add_group_icon"></i>
          </button>
        </div>
    </div>

    <!--groups Section-->
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-4 groups_list_left">
        
        <div>
          <h3 id="groups_list_left_icon">
            <i class="fas fa-layer-group"></i> Groups List
          </h3>
        </div>
        
        <div class="groups_list_left_box">            
            <!--Content displayed inside the left table-->
            <div class="row inside_group_list">

              <!--Text-->
              <div class="col-5">
                <h5 id="inside_left_text">Random_Group</h5>
              </div>

              <div class="col-3"></div>

              <!--Buttons-->
              <div class="col-3 inside_left_button_group">
                <div class="btn-group" role="group" >
                  <button type="button" class="btn btn-secondary user_button"><i class="fas fa-user-plus"></i></button>
                  <button type="button" class="btn btn-secondary close_button"><i class="fas fa-times"></i></button>
                </div>
              </div>

              <hr>

              <!--Text-->
              <div class="col-5">
                <h5 id="inside_left_text">Random_Group</h5>
              </div>

              <div class="col-3"></div>

              <!--Buttons-->
              <div class="col-3 inside_left_button_group">
                <div class="btn-group" role="group" >
                  <button type="button" class="btn btn-secondary user_button"><i class="fas fa-user-plus"></i></button>
                  <button type="button" class="btn btn-secondary close_button"><i class="fas fa-times"></i></button>
                </div>
              </div>

              <hr>

            </div>

        </div>

      </div>

      <div class="col-1"></div>


      <div class="col-6 expanded_group_list_right">
        <div>
          <h3 id="groups_list_left_icon">
            <i class="fas fa-user-friends"></i> Specific Group name
          </h3>
        </div>

        <!--Search bar right box-->
        <div class="groups_list_right_box">
          <div class="input-group search_bar add_friend_to_group_search_bar">
            <input type="text" class="form-control search_input" placeholder="Add a friend to the group" aria-label="Large">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary add_group_button_right_box" type="button">
                <i class="fas fa-user-plus"></i></i>
              </button>
            </div>
        </div>

        <div class="row">
          <div class="col-2">
              <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
          </div>

          <div class="col-1">
            Ahmed Essam
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fas fa-user-times"></i>
            </button>
          </div>

          <div class="col-1"></div>

          <div class="col-2">
            <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
          </div>

          <div class="col-1">
            Mohamed Essam
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fas fa-user-times"></i>
            </button>
          </div>

          <div class="col-1"></div>

          <div class="col-2">
            <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
          </div>

          <div class="col-1">
            Essam abohom
            <button type="button" class="btn btn-primary btn-sm">
              <i class="fas fa-user-times"></i>
            </button>
          </div>


        </div>

        </div>
      </div>
    </div>

</body>
</html>