<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">


    <title>Groups</title>
</head>
<body>
    <h1 id="group_header">
        <i class="fas fa-users"></i> Groups
    </h1>


    <!--search bar-->
    <div class="input-group search_bar">
        <input type="text" class="form-control search_input" placeholder="Add a new group" aria-label="Large">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary add_group_button" type="button">
            <i class="fas fa-plus-circle add_group_icon"></i>
          </button>
        </div>
    </div>

    <!--groups Section-->
    <!-- Columns are always 50% wide, on mobile and desktop -->
    <div class="row">
      <div class="col-4 groups_list_left">
        
        <div>
          <h3 id="groups_list_left_icon">
            <i class="fas fa-layer-group"></i> Groups List
          </h3>
        </div>
        
        <div class="groups_list_left_box">
            .col-4
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.
        </div>
        
      </div>

      <div class="col-1"></div>


      <div class="col-6 expanded_group_list_right">

        <div>
          <h3 id="groups_list_left_icon">
            <i class="fas fa-user-friends"></i> Specific Group name
          </h3>
        </div>

        <div class="groups_list_right_box">
        .col-6
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, 
        illum? A, reiciendis obcaecati aperiam soluta sunt nobis earum. 
        Magnam excepturi nisi odit nihil quia magni iusto laboriosam iure nulla ex.
        </div>
      </div>
    </div>

</body>
</html>