<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">


    <title>Groups</title>
</head>
<body>
    <h1 id="group_header">
        <i class="fas fa-users"></i> Groups
    </h1>


    <!--search bar-->
    <div class="input-group search_bar">
        <input type="text" class="form-control search_input" placeholder="Add a new group" aria-label="Large">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary add_group_button" type="button">
            <i class="fas fa-plus-circle add_group_icon"></i>
          </button>
        </div>
    </div>
    

</body>
</html>