<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <% @title = "Add Order" %>
</head>
<body>
    <h1 id="add_orders_header">
        <i class="fas fa-concierge-bell"></i> Add order
    </h1>



    <div class="row">
        
        <div class="col-5 add_orders_left_box">

            <div>
                <h3>
                    <i class="far fa-list-alt"></i> Order details
                </h3>
            </div>

            <div class="row add_order_left_box_container">
                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-bread-slice"></i> Order for:
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row">
                    <select class="form-control">
                        <option value="lunch">Lunch</option>
                        <option value="breakfast">Breakfast</option>
                      </select>
                </div>

                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-asterisk"></i> From:
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row">
                    <input type="text" class="form-control" placeholder="Restaurant name">
                </div>

                <div class="col-5 add_order_left_box_row">
                    <i class="fas fa-hashtag"></i> With: 
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row">
                    <input type="text" class="form-control" placeholder="Friend or group name">
                </div>

                <div class="col-4 add_order_left_box_row">
                    <i class="fas fa-camera-retro"></i> Menu Image:
                </div>

                <div class="col-1"></div>

                <div class="col-6 add_order_left_box_row order_details_choose_file_browser">
                    <input type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <div class="col-4"></div>

                <div class="col-4">
                    <button class="btn btn-primary publish_button_add_order" type="submit">
                        <i class="fas fa-fire"></i> Publish 
                    </button>
                </div>

                <div class="col-4"></div>


            </div>

            
            

        </div>


        <div class="col-2"></div>



        <div class="col-5 add_orders_right_box">

            <div>
                <h3>
                    <i class="fas fa-user-check"></i> Friends invited
                </h3>
            </div>

            <div class="row add_orders_right_box_container">
                <div class="col-2">
                    <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
                </div>

                <div class="col-2 add_order_name_row">
                    HIS NAME
                    <button type="button" class="btn btn-primary btn-sm delete_friend_button" data-toggle="tooltip" data-placement="right" title="Remove friend">
                        <i class="fas fa-user-times"></i>
                    </button>
                </div>

                <div class="col-4"></div>

                <div class="col-2">
                    <img src="/images/teenage.svg" width="100px" height="100px" alt="" srcset="">
                </div>

                <div class="col-2 add_order_name_row">
                    HIS NAME
                    <button type="button" class="btn btn-primary btn-sm delete_friend_button" data-toggle="tooltip" data-placement="right" title="Remove friend">
                        <i class="fas fa-user-times"></i>
                    </button>
                </div>

            </div>

           
        </div>
    </div>
    
</body>
</html>