<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/users.css">
    <title>Order Details</title>
</head>
<body>
    <h3 id="order_details_page_header">
        <i class="fas fa-clipboard-list"></i> Order details
    </h3>

    <div class="row">
        <div class="col-5 table-responsive order_details_table_left">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Person</th>
                    <th scope="col">Item</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Comment</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Ahmed</th>
                    <td>Ta3mia</td>
                    <td>2</td>
                    <td>15</td>
                    <td>Bel salata</td>

                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
              

        </div>



        <div class="col-1"></div>


        <div class="col-5">
            <a href="http://">This is a link</a> <br>
            <a href="http://">This is a link</a>

        </div>
    </div>

        <div class="row">
            <div class="col-5 forms_under_table">
                <input type="text" class="form-control order_details_form_1" placeholder="Item name">

                <label class="mr-sm-2" for="inlineFormCustomSelect">Amount</label>
                <select class="custom-select mr-sm-2 order_details_form_1" id="inlineFormCustomSelect">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>


                <!--Price -->
                <label class="mr-sm-2" for="inlineFormCustomSelect">Price</label>
                <select class="custom-select mr-sm-2 order_details_form_1" id="inlineFormCustomSelect">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>

                <!--Comment-->
                <label for="exampleFormControlTextarea1">Comment</label>
                <textarea class="form-control order_details_form_1" id="exampleFormControlTextarea1" rows="3"></textarea>

                <button class="btn btn-primary order_details_add_button" type="submit">
                    <i class="fas fa-plus-circle place_order_icon"></i> Add
                </button>

            </div>
            
        </div>

   
    
</body>
</html>